<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <style>
        h1{
            font-size: 36pt;
        }
        h2{
            font-size:30pt;
        }
        .user {
            position: fixed;
            top: 0;
            right: 0;
            padding: 30px;
            margin-bottom: 30px;
        }
        .backtomain {
            position: fixed;
            top: 45px;
            right: 0;
            padding: 30px;
        }
        textarea {
            width: 800px;
            height: 100px;
        }
    </style>
</head>

<body>
<!--로그인한 유저의 id를 나타내면서 mypage로 이동할 수 있는 기능 부분-->
<form class="user" action="/user" method="get">
    ID:<input type="submit" name="username" value="{{username}}">
    <input type="hidden" name="search" value="{{username}}">
</form>
<br>
<!--메인 화면으로 돌아갈 수 있는 기능 부분-->
<form class="backtomain" action="/main" method="get">
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="review" value="main">
    <input type="hidden" name="movie" value="main">
    <input type="submit" value="main page">
</form>
<!--정보를 보고자 하는 대상인 사용자의 id를 나타내는 부분-->
<h1>{{search}}</h1>
<br>
<!--대상 사용자가 작성한 리뷰들을 볼 수 있는 부분으로 table형식으로 보여주는 부분-->
<h2>[Reviews]</h2>
<table border="1">
    <thead>
        <th>ratings</th>
        <th>movies</th>
        <th>review</th>
        <th>time</th>
        <th># likes</th>
        <th>like</th>
    </thead>
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review[0] }}</td>
<!--            특정 리뷰에 영화 제목을 클릭하면 해당 영화 페이지로 이동하는 기능 부분-->
            <td><form action="/movie" method="get"><input type="hidden" name="username" value = "{{username}}"><input type="submit" name="title" value="{{review[1]}}"></form></td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
            <td>{{ review[4] }}</td>
            <td>
<!--                특정 리뷰 옆 좋아요를 클릭하면 해당 리뷰에 좋아요를 누를 수 있는 기능 부분-->
                <form action="/like" method="post">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="page" value="userpage">
                    <input type="hidden" name="review_uid" value="{{search}}">
                    <input type="hidden" name="review_mid" value="{{review[5]}}">
                    <input type="submit" name="likes" value="likes">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
<br>
<hr>
<!--정보를 보고자 하는 대상 사용자를 팔로워하는 사용자들에 대한 정보를 볼 수 있는 부분-->
<h2>[Followers]</h2>
<!--사용자id를 클릭하면 해당 사용자 페이지로 이동함-->
<form  action="/user" method="get">
    {% for follower in followers %}
        <input type="hidden" name="username" value = "{{username}}">
        <input type="submit" name="search" value="{{follower[0]}}">
    {% endfor %}
</form>