<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
    <style>
        h1{
            font-size: 36pt;
        }
        h2{
            font-size:30pt;
        }
        h3{
            font-size:25pt;
        }
        .user {
            position: fixed;
            top: 0;
            right: 0;
            padding: 30px;
            margin-bottom: 30px;
        }
        .backtomain {
            position: fixed;
            top: 45px;
            right: 0;
            padding: 30px;
        }
        textarea {
            width: 800px;
            height: 100px;
        }
    </style>
</head>

<body>
<!--로그인한 유저의 id를 나타내면서 mypage로 이동할 수 있는 기능 부분-->
<form class="user" action="/user" method="get">
    ID:<input type="submit" name="username" value="{{username}}">
    <input type="hidden" name="search" value="{{username}}">
</form>
<br>
<!--메인 화면으로 돌아갈 수 있는 기능 부분-->
<form class="backtomain" action="/main" method="get">
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="review" value="main">
    <input type="hidden" name="movie" value="main">
    <input type="submit" value="main page">
</form>
<!--영화 제목 부분-->
<h1>{{title}}</h1>
<br>
<!--해당 영화에 대한 정보들을 table형식으로 보여주는 부분-->
<table border="1">
    <thead>
        <th>director</th>
        <th>genre</th>
        <th>release date</th>
    </thead>

    <tbody>
        {% for movie in movies %}
        <tr>
            <td>{{ movie[0] }}</td>
            <td>{{ movie[1] }}</td>
            <td>{{ movie[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
<br>
<hr>
<!--해당 영화에 대해 사용자들이 작성한 리뷰들을 보여주는 기능 부분-->
<h2>[Reviews]</h2>
<!--해당 영화에 대한 평균 rating을 보여주는 부분-->
{% for value  in avg_rating %}
<label>Average Rating: {{value[0]}}</label><br>
{% endfor %}
<!--해당 영화에 대한 리뷰들을 table형식으로 보여주는 부분-->
<table border="1">
    <thead>
        <th>ratings</th>
        <th>user</th>
        <th>review</th>
        <th>time</th>
        <th># likes</th>
        <th>likes</th>
    </thead>

    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review[0] }}</td>
            <td>
<!--                사용자의 id를 클릭하면 해당 사용자의 page로 이동-->
                <form action="/user" method="get">
                    <input type="hidden" name="username" value = "{{username}}">
                    <input type="submit" name="search" value="{{review[1]}}">
                </form>
            </td>
            <td>{{ review[2] }}</td>
            <td>{{ review[3] }}</td>
            <td>{{ review[4] }}</td>
            <td>
<!--                특정 리뷰 옆 like를 클릭하면 해당 리뷰에 대해 좋아요를 할 수 있는 기능 부분-->
                <form action="/like" method="post">
                    <input type="hidden" name="page" value="movie">
                    <input type="hidden" name="username" value="{{username}}">
                    <input type="hidden" name="review_uid" value="{{review[1]}}">
                    <input type="hidden" name="review_mid" value="{{review[5]}}">
                    <input type="submit" name="likes" value="likes">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<hr>
<!--해당 영화에 대하여 rating과 review를 작성할 수 있는 기능 부분-->
<form action="/submit" method="post">
    <input type="hidden" name="username" value = "{{username}}">
    <input type="hidden" name="title" value = "{{title}}">
    <h3>My Review:
    <input type="number" name="rating" min="1" max="5" value="5"></h3>
    <textarea name="review"></textarea><br>
    <input type="submit" value="submit">
</form>
</body>
</html>
